@{
    ViewData["Title"] = "Form Submission";
}

@model FormSubmission.Models.User

<div class="flex flex-col items-center my-24 w-full">
    <div class="card w-1/2 bg-base-100 shadow-xl">
        <div class="card-body">
            <h1 class="card-title mb-8">Enter your information</h1>
            <form asp-action="Create" asp-controller="Home" method="post" class="flex flex-col items-center">
                <div class="form-control flex-row items-center space-x-2 mb-3">
                    <label asp-for="FirstName" class="label flex-none label-text text-xl w-48"></label>
                    <div class="label flex-col items-start">
                        <span class="label-text mb-1 w-72">
                            @if (ViewData.ModelState["FirstName"]?.Errors?.Count > 0)
                            {
                                @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-red-600 flex-1" })
                            }
                        </span>
                        <input asp-for="FirstName" placeholder="Your Input" class="input input-bordered w-72" />
                    </div>
                </div>

                <div class="form-control flex-row items-center space-x-2 mb-3">
                    <label asp-for="LastName" class="label flex-none label-text text-xl w-48"></label>
                    <div class="label flex-col items-start">
                        <span class="label-text mb-1 w-72">
                            @if (ViewData.ModelState["LastName"]?.Errors?.Count > 0)
                            {
                                @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-red-600 flex-1" })
                            }
                        </span>
                        <input asp-for="LastName" placeholder="Your Input" class="input input-bordered w-72" />
                    </div>
                </div>

                <div class="form-control flex-row items-center space-x-2 mb-3">
                    <label asp-for="Age" class="label flex-none label-text text-xl w-48"></label>
                    <div class="label flex-col items-start">
                        <span class="label-text mb-1 w-72">
                            @if (ViewData.ModelState["Age"]?.Errors?.Count > 0)
                            {
                                @Html.ValidationMessageFor(m => m.Age, null, new { @class = "text-red-600 flex-1" })
                            }
                        </span>
                        <input asp-for="Age" placeholder="Your Input" class="input input-bordered w-72" />
                    </div>
                </div>

                <div class="form-control flex-row items-center space-x-2 mb-3">
                    <label asp-for="Email" class="label flex-none label-text text-xl w-48"></label>
                    <div class="label flex-col items-start">
                        <span class="label-text mb-1 items-start w-72">
                            @if (ViewData.ModelState["Email"]?.Errors?.Count > 0)
                            {
                                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-red-600 flex-1" })
                            }
                        </span>
                        <input asp-for="Email" placeholder="Your Input" class="input input-bordered w-72" />
                    </div>
                </div>

                <div class="form-control flex-row items-center space-x-2 mb-6">
                    <label asp-for="Password" class="label flex-none label-text text-xl w-48"></label>
                    <div class="label flex-col items-start">
                        <span class="label-text mb-1 w-72">
                            @if (ViewData.ModelState["Password"]?.Errors?.Count > 0)
                            {
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-red-600 flex-1" })
                            }
                        </span>
                        <input asp-for="Password" placeholder="Your Input" class="input input-bordered w-72" />
                    </div>
                </div>

                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
