@{
    ViewData["Title"] = "Home Page";
}

@model Dish

<div class="container d-flex flex-column gap-3 mt-4">
    <h1 class="text-center">Welcome to CRUDelicious</h1>
    <div class="d-flex justify-content-center">
        <nav class="nav align-items-center">
            <a class="nav-link active" href="/" aria-current="page">Home</a>
            <span>|</span>
            <a class="nav-link" href="/dishes/new">Add a Dish</a>
        </nav>
    </div>
    <div class="w-50">
        <p class="m-0">@Model.Name By @Model.Chef</p>
        <hr class="mt-1 border border-dark border-2">
        @{
            <p>@Model.Description</p>
            <p>Calories: @Model.Calories</p>
            <p>Tastiness: @Model.Tastiness</p>
        }
    </div>
    <div class="col-4 d-flex justify-content-around w-50">
        <a class="btn btn-danger" href="/dishes/@Model.DishId/delete">Delete</a>
        <a class="btn btn-info" href="/dishes/@Model.DishId/edit">Edit</a>
    </div>
</div>
